.boxAnimation {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 85%;
    width: 85%;
    box-shadow: inset 0 0 0 2px white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.boxAnimation:before,
.boxAnimation:after {
    content: '';
    position: absolute;
    box-sizing: inherit;
    width: 100%;
    height: 100%;

}

.boxAnimation:before,
.boxAnimation:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;


}

.boxAnimation:before {
    border-top: 2px solid #0B7132;
    border-bottom: 2px solid #0B7132;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale3d(0, 1, 1);
}

.boxAnimation:after {
    border-left: 2px solid #0B7132;
    border-right: 2px solid #0B7132;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale3d(1, 0, 1);
}

.team_box:hover .boxAnimation:before,
.team_box:hover .boxAnimation:after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

/* .our_teem figure path {
    fill: #000244;
} */

.our_teem figure a:hover path {
    fill: #fff;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}





/* 19 Dec 2023 Common CSS */

 /* 19 Dec 2023 Common CSS  */


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1,h2, h3, h4, h5, h6{font-weight: 600;}


body, p{font-size: 16px;line-height: normal;}

@media (min-width: 1024px){
    h1{font-size: 64px;line-height: normal;}
    h2{font-size: 44px;line-height: normal;}
    h3{font-size: 34px;line-height: normal;}
    h4{font-size: 24px;line-height: normal;}
}
@media (max-width: 1024px){
    h1{font-size: 34px;line-height: normal;}
    h2{font-size: 30px;line-height: 40px;}
    h3{font-size: 24px;line-height: 36px;}
    h4{font-size: 18px;line-height: 26px;}
}
/* End CSS */



 /* End CSS  */

